version: 2

services:
  - type: web
    name: hianime-api
    env: node
    plan: free
    branch: main

    buildCommand: |
      curl -fsSL https://bun.sh/install | bash
      export BUN_INSTALL="$HOME/.bun"
      export PATH="$BUN_INSTALL/bin:$PATH"
      bun install

    startCommand: |
      export BUN_INSTALL="$HOME/.bun"
      export PATH="$BUN_INSTALL/bin:$PATH"
      bun run start

    envVars:
      - key: NODE_ENV
        value: production
